#dialog-layout {
  padding: 16px;
  margin: 10px 0;

  .dialog {
    margin: 1rem auto 0;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    min-height: 220px;
    text-align: left;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow: 0 0 10px #dfdfdf;
    background-color: #fff;
    @media (max-width: 800px) {
      padding: 10px;
      max-width: 600px;
      border: none;
      box-shadow: none;
    }
    @media (max-width: 600px) {
      padding: 0;
    }
    h1:first-of-type {
      margin: 0;
      padding: 10px 0;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 600px) {
        font-size: 28px;
      }
    }
    .dialog-header {
      display: flex;
      align-items: center;
      border-bottom: solid 1px var(--medium-gray);
      background-color: #fff;
      margin-bottom: 24px;
      white-space: nowrap;
    }
  }

  .close {
    text-align: right;
  }
}
