*, html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
  font-size: 110%;
  margin: 0;
  line-height: 1.6;
}

body.home {
  background-color: #49445d;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0 1rem;
}

a, a:active, a:visited {
  color: #49445d;
}

button {
  font-size: 90%;
  background-color: #f1f1f1;
  background-image: linear-gradient(#f5f5f5, #eee);
  border: 1px solid #ccc;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
  height: 30px;
  min-width: 50px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

button img {
  display: none;
  height: 100%;
}

button:hover {
  background-color: #fafafa;
  background-image: linear-gradient(#eee, #ddd);
}

button:active {
  background-color: #dfdfdf;
  background-image: linear-gradient(#ddd, #ccc);
}

button:disabled {
  background-color: #dfdfdf;
  background-image: linear-gradient(#ddd, #ccc);
}

button:disabled:active {
  border-color: red;
}

button:disabled img {
  display: inline;
}

button:disabled span {
  display: none;
}

label {
  font-size: 90%;
  color: #666;
  margin-bottom: 0.3rem;
}

form {
  margin-bottom: 2rem;
}

form p {
  margin-bottom: -0.2rem;
}

input[type], textarea, #card-element {
  border: 2px solid #dfdfdf;
  padding: 6px 7px;
  width: 100%;
  max-width: 400px;
  font-size: 100%;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  max-width: auto;
}

textarea {
  height: 220px;
  max-width: 600px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

nav {
  transition: all 0.2 ease;
  background-color: white;
  opacity: 0.98;
  padding: 1.6rem;
}

nav a {
  margin-right: 1rem;
  transition: all 0.3s ease;
  padding: 0.2rem;
  background-color: transparent;
  text-decoration: none;
}

nav a.active, nav a:hover {
  text-decoration: underline;
}

body.home nav {
  background-color: #49445d;
  color: white;
}

body.home nav a {
  color: white;
}

nav .lang {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 90%;
}

nav .lang a {
  margin: 0;
  color: #49445d;
}

.flash {
  position: absolute;
  left: 0;
  right: 0;
  width: 100;
  background-color: #ffffcc;
  opacity: 1;
  transition: all 0.3s ease;
  font-size: 90%;
}

.main {
  margin: 0 auto;
  padding: 4.5rem 0 0;
  max-width: 820px;
  background-color: white;
}

body.home .main {
  max-width: none;
  margin: none;
}

pre {
  background-color: #fafafa;
  padding: 0.3rem 0.5rem;
  white-space: pre-wrap;
  font-size: 100%;
}

pre, code {
  font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
}

.errors {
  color: red;
  opacity: 1;
  display: block;
  transition: all 0.2s ease;
  font-size: 90%;
  height: 1rem;
}
